asyncio
keyboard
subprocess
pyautogui
math
random
colorama
git+https://github.com/wizwalker/wizwalker@development # this one will take a bit to download.

# do "pip install -r requirements.txt" in the terminal
# then, to run do "py random_effects.py" in the terminal

# If it doesn't work message me on Discord again or try to fix on your own.
